<div class="container">
<h1>testing my pool index page</h1>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<% @pools.each do |pool| %>
    <p> <b> <%= pool.description %> </b> </p>
    <p>Title:  <%= pool.title  %> </p>
    <p>Category:  <%= pool.category  %> </p>
    <p>Qm:  <%= pool.qm  %> </p>
    <p>Price_per_day:  <%= pool.price_per_day  %> </p>
    <p>Capacity:  <%= pool.max_capacity  %> </p>
    <p>User:  <%= pool.user.first_name  %> </p>
    <% pool.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
 <% end %>
  <%= link_to "See more", pool_path(pool), class: "btn btn-secondary"  %>
<% end %>
</div>

