<div class="container">
<h1>test</h1>
    <p> <b> <%= @pool.description %> </b> </p>
    <p>Title:  <%= @pool.title  %> </p>
    <p>Category:  <%= @pool.category  %> </p>
    <p>Qm:  <%= @pool.qm  %> </p>
    <p>Price_per_day:  <%= @pool.price_per_day  %> </p>
    <p>Capacity:  <%= @pool.max_capacity  %> </p>
    <p>User:  <%= @pool.user.first_name  %> </p>


    <% @pool.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
 <% end %>
</div>
