<% if @pool.latitude %>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

     </div>
<% end %>


<div class="container">



<% if @bookings.length > 0 %>
<h1>Your bookings for this swimming pool!</h1>
  <% @bookings.each do |booking| %>
    <p><%= booking.start_date %> until <%= booking.end_date %>
  <% end %>
<% else %>
<% end %>

<%= simple_form_for [@pool, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit %>
<% end %>


<h1>test</h1>
    <p> <b> <%= @pool.description %> </b> </p>
    <p>Address:  <%= @pool.address  %> </p>
    <p>Title:  <%= @pool.title  %> </p>
    <p>Category:  <%= @pool.category  %> </p>
    <p>Qm:  <%= @pool.qm  %> </p>
    <p>Price_per_day:  <%= @pool.price_per_day  %> </p>
    <p>Capacity:  <%= @pool.max_capacity  %> </p>
    <p>User:  <%= @pool.user.first_name  %> </p>


    <% @pool.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
 <% end %>

</div>
